@import "tailwindcss";

html {
  scroll-behavior: smooth;
}
*, *::before, *::after { box-sizing: border-box; }

body {
  margin: 0;
  background-color: #F0F2F5;
  color: #050505;
  -webkit-font-smoothing: antialiased;
}
.bgcolor{
    background-color: rgb(255, 255, 255);
}
.bgfooter{
    background: linear-gradient(to right, #111111, #888888);
}
.fontfamily{
    font-family: 'Inter', sans-serif;
}
.fontcolor{
    color: #8d8d8d;
}
.sidefont{
    font-family: 'Roboto', sans-serif;
}
.sidebgcolor{
    background-color:#ffffff;
}
.contentbgcolor{
    background-color: #ffffff;
}
.contentbg{
    background-image: url("./images/contentBodyBg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.scrollbar-hide::-webkit-scrollbar { display: none; }
.scrollbar-hide { -ms-overflow-style: none; scrollbar-width: none; }


@media (max-width: 950px) {
    .triggerSkillSection {
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: auto;
    }
    .triggerProjSection{
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
    }
}